body{
    font-family: 'Gill Sans';
    color: rgba(111, 64, 155, 0.651);
    letter-spacing: 1.5px;
}

h1, h2{
    font-family: 'Gill Sans';
    font-weight: normal;
    color: rgba(16, 170, 137, 0.623);
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid rgb(7, 117, 108);
}

#page-banner{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(224, 237, 238) ;
    padding: 10px 0;


}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    font-family: 'Gill Sans';
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#drink-list, #add-book, #tabbed-content{
    margin: 25px;
}

#drink-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0px;
}

#drink-list li{
    padding: 40px;
    border-left: 10px solid turquoise;
    margin: 20px 10px;
}

#drink-list li:hover{
    border-color:teal;
}

#my-cart {
    float: right;
    text-align: center;
    padding: 8px; 
    background: #afeeee;
    border-radius: 10px 50px 10px 50px;
    width: 200px;
    margin: 20px 20px;
}

.addToCart{
    float: right;
    background: turquoise;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.addToCart:hover{
    background: teal
}

#add-drink{
    width: 400px;
    margin: 0 auto;
}

#add-drink input{
    font-family: 'Gill Sans';
    float: left; 
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
}

#hide-list {
    float: right;
    padding: 20px 20px;
    border: 10px navy;
    background: beige
}

#add-drink button{
    font-family: 'Gill Sans';
    border: 10px navy;
    background: teal;
    padding: 10px 20px;
    font-size: 16px;
    /*display: inline-block;*/
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    float: left;
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-drink:after{
    content: '';
    display: block;
    clear: both;
}